<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

#DirectoryIndex index.php
RewriteEngine On
#http to https on cpanel websites
#RewriteCond %{HTTPS} !=on
#RewriteRule ^/?(.*) https://timetracker-dev.salesbeacon.com/$1 [R,L]

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ http://localhost/LTT/public/index.php [L]
</IfModule>

